.about {
  // padding-top: 94px;
  // padding-bottom: 94px;
  // display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
  }
}

.specifics {
  // width: 270px;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 30px;
  border-radius: 4px;
  @include tab {
    width: 354px;
  }
  @include desk {
    width: 270px;
  }
}

.specifics__icons {
  fill: #212121;
}

.specifics__title {
  font-style: normal;

  @include font(14px, bold, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;

  text-align: center;
  @include tab {
    text-align: start;
  }
  @include desk {
    text-align: start;
  }
}

.specifics__exemp-title {
  font-style: normal;

  @include font(14px, normal, 1.71, 0.03em);
  color: var(--secondary-color);
  // width: 270px;

  max-width: 100%;
  @include tab {
    max-width: 354px;
  }
  @include desk {
    max-width: 270px;
  }
}

.about__list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  // justify-content: space-between;

  flex-wrap: wrap;
}

@include tab .about__list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.about__item:not(:last-child) {
  margin-bottom: 30px;
}
