.costumer__title {
  font-style: normal;

  @include font(28px, bold, 1.18, 0.03em);
  text-align: center;

  color: var(--title-color);
  margin-bottom: 30px;
  @include desk {
    @include font(36px, bold, 1.17, 0.03em);
    margin-bottom: 50px;
  }
}

.container__customers {
  margin: 0 auto;
  padding: 60px 15px;
  @include desk {
    padding: 94px 15px;
  }
}

.costumer__list:nth-child(5n) {
  margin-bottom: 0;
}
.costumer__list:nth-child(6n) {
  margin-bottom: 0;
}

.costumer__list:nth-child(4n) {
  @include tab {
    margin-bottom: 0;
  }
}

.costumer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  width: calc(100% / 2 - 30px);
  @include tab {
    width: calc(100% / 3 - 30px);
  }
  @include desk {
    width: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}

.costumer__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.costumer__list + .costumer__list {
  @include desk {
    margin-left: 30px;
  }
}

.costumer__icons {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costumer__link {
  display: flex;
  flex-wrap: wrap;
  height: 92px;
  width: 210px;
  @include tel {
    height: 92px;
  }
  @include tab {
    width: 226px;
  }
  @include desk {
    width: 170px;
  }

  border: 1px solid #afb1b8;
  border-radius: 4px;
  // overflow: auto;

  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--logo-and-active-color);
  }
  &:hover .costumer__icons,
  &:focus .costumer__icons {
    fill: var(--logo-and-active-color);
  }
}
