.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--first-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // padding-top: 200px;
  // padding-right: 0;
  // padding-bottom: 200px;
  // padding-left: 0;
  padding-top: 118px;
  padding-bottom: 118px;
  @include tab {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-style: normal;

  @include font(26px, 900, 1.62, 0.06em);
  @include desk {
    max-width: 650px;
    @include font(44px, null, 1.36, null);
  }
  text-align: center;
  text-transform: uppercase;
  color: var(--first-color);

  max-width: 370px;
  margin: 0 auto;
}

.hero__btn {
  background-color: var(--logo-and-active-color);
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
  border: none;

  cursor: pointer;
  font-family: inherit;
  font-style: normal;

  @include font(26px, 900, 1.62, 0.06em);
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--first-color);
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// .button.hero__btn {
//   display: flex;
//   text-align: center;
// }
