.team {
  background-color: #f5f4fa;
}

.team__title {
  font-style: normal;
  margin-bottom: 30px;
  padding-top: 60px;
  @include font(28px, bold, 1.18, 0.03em);
  text-align: center;
  color: var(--title-color);
  @include tab {
    margin-bottom: 30px;
    padding-top: 60px;
  }
  @include desk {
    @include font(36px, bold, 1.67, 0.03em);
    margin-bottom: 50px;
    padding-top: 94px;
  }
}

.team-social__icons + .team-social__icons {
  margin-left: 10px;
}

.team-social__link {
  width: 44px;
  height: 44px;
  background-color: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--first-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--logo-and-active-color);
  }
  &:hover .team-social__network,
  &:focus .team-social__network {
    fill: var(--first-color);
  }
}

.team-social__network {
  fill: #afb1b8;
}

// @include tab {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
  margin-bottom: 0;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  @include desk {
    padding-bottom: 94px;
  }
}
.team-list__item + .team-list__item {
  @include desk {
    margin-left: 30px;
  }
}
.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}
// .team-list {
//   @include desk {
//     padding-bottom: 94px;
//   }
// }
.team-social {
  display: flex;
  justify-content: center;
}

.team-list__item {
  // flex-wrap: wrap;

  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--first-color);
  @include tab {
    max-width: 354px;
    max-height: 536px;
  }
  @include desk {
    width: calc(100% / 4 - 30px);
    max-width: 354px;
    max-height: 536px;
  }
}

.team-name-profil {
  padding-top: 30px;
  padding-bottom: 24px;

  @include desk {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team-list__name {
  font-style: normal;

  @include font(16px, 500, 1.19, 0.03em);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;
}

.team-list__profil {
  font-style: normal;

  @include font(16px, normal, 1.19, 0.03em);
  text-align: center;
  color: var(--secondary-color);

  text-align: center;
  margin-bottom: 16px;
}

// .team-list__item {
//   width: 450px;
//   height: 460px;
// }
