:root {
  --first-color: #ffffff;
  --logo-and-active-color: #2196f3;
  --title-color: #212121;
  --secondary-color: #757575;
  --first-background-color: #2f303a;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
